html, body{
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

/* NAVBAR */
.container-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    /*background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
    box-shadow: black;
    color: #ffff;
    font-size: 15px;
    
}
.DivLinks ul{
    display: flex;
    list-style: none;
}
.DivLinks ul li{
    padding: 3px;
    font-size: 20px;
}

.imgHeader img{
    width: 100%;
    height: 550px
}

.ContainerSobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    padding: 50px;
    margin-top: 1px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    -webkit-box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69); 
     box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69);
     color: black;
}
.ContainerSobre h1{
    font-size: 30px;
}
.ContainerSobre p{
    font-size: 20px;
}
.divBtnContrate button{
    padding: 20px;
    border-radius: 80px;
    border-style: none;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #ffff;
    font-size: 15px;
    width: 200px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
}


/* Seção telefonia*/

.ContainerTelefonia{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.TelMovel{
    border: solid #f5f7fa, #c3cfe2;
    border-radius: 30px;
    padding: 30px;
    margin: 14px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex: 3;
    -webkit-box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69); 
     box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69);
     text-align: center;
}
.TelFixa{
    border: solid #f5f7fa, #c3cfe2;
    border-radius: 30px;
    padding: 30px;
    margin: 14px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex: 3;
    -webkit-box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69); 
     box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69);
     text-align: center;
}
.imgTelFix img{
    padding-right: 7px;
    width: 50px;
    height: 50px;
    float: left;

}
.imgMovel img{
    width: 50px;
    height: 50px;
    float: left;
}

.TitleTelefonia{
    text-align: center;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    color: #ffff;
}

/*Seção Internet*/

.ContainerInternet{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Banda{
    border: solid #f5f7fa, #c3cfe2;
    border-radius: 30px;
    padding: 30px;
    margin: 14px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex: 3;
    -webkit-box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69); 
     box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69);
     text-align: center;
}
.Fibra{
    border: solid #f5f7fa, #c3cfe2;
    border-radius: 30px;
    padding: 30px;
    margin: 14px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex: 3;
    -webkit-box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69); 
     box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69);
     text-align: center;
}
.Wifi{
    border: solid #f5f7fa, #c3cfe2;
    border-radius: 30px;
    padding: 30px;
    margin: 14px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex: 3;
    -webkit-box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69); 
     box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69);
     text-align: center;
}
.imgBanda img{
    padding-right: 7px;
    width: 50px;
    height: 50px;
    float: left;
}
.imgFibra img{
    width: 50px;
    height: 50px;
    float: left;  
}
.imgWifi{
   padding: 10px 10px;
    width: 50px;
    height: 52px;
    float: left;
}
.TitleInternet{
    text-align: center;
    font-size: 25px;
    color: #ffff;
}

/* Seção T.I*/

.ContainerTI{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Cloud{
    border: solid #f5f7fa, #c3cfe2;
    border-radius: 30px;
    padding: 30px;
    margin: 14px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex: 3;
    -webkit-box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69); 
     box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69);
     text-align: center;
}
.Redes{
    border: solid #f5f7fa, #c3cfe2;
    border-radius: 30px;
    padding: 30px;
    margin: 14px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex: 3;
    -webkit-box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69); 
     box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69);
     text-align: center;
}
.Firewall{
    border: solid #f5f7fa, #c3cfe2;
    border-radius: 30px;
    padding: 30px;
    margin: 14px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    flex: 3;
    -webkit-box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69); 
     box-shadow: 8px 9px 11px 6px rgba(0,0,0,0.69);
     text-align: center;
}
.TitleTI{
    text-align: center;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    color: #ffff;
}
.imgCloud img{
    width: 50px;
    height: 50px;
    float: left;
}
.imgRedes img{
    width: 50px;
    height: 50px;
    float: left;
}
.imgFirewall img{
    width: 50px;
    height: 50px;
    float: left;
}








