html, body{
    margin: 0;
    padding: 0;
}
.container-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 60px;
    background: #3b4969
}

.user{
    display: flex;
    border: solid 0px;
    border-radius: 50px;
    padding-top: 4px;
    padding-left: 30px;
    padding-right: 2px;
    padding-bottom: 4px;
    margin-right: 5px;
    margin-bottom: 1px;
    background: RGBA(0,0,0,0.11);
    color: white;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.user p{
    padding-right: 20px;
}
.user img{
    height: 40px;
    padding-top: 4px;
    padding-right: 5px;
}

.user:hover{
    background: RGBA(0,0,0,0.25);
    transition: 1s;
    cursor: pointer;
}






