.carousel{
    height: 500px;
}
#ContainerTel{
    border-style: solid;
    border-radius: 10px;
    padding-bottom: 50px;
}
.TitleTel h1{
    font-size: 30px;
    text-align: center;
}
.TitleFixa h3{
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}
.ImgTelefone{
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.ImgTelefone img{
    padding-right: 15px;
}
.TitleMovel h3{
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}
.ImgMovel{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.ImgMovel img{
    padding-right: 15px;
}
#ContainerNet{
    margin-top: 30px;
    border-style: solid;
    border-radius: 10px;
    
    padding-bottom: 50px;
}
.TitleInternet h1{
    text-align: center;
    font-size: 30px;
}
.TitleFibra h3{
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}
.ImgFibra{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.ImgFibra img{
    padding-right: 15px;
}
.TitleBanda h3{
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}
.ImgBanda{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.ImgBanda img{
    padding-right: 15px;
}
#ContainerWifi{
    border-style: solid;
    margin-top: 30px;
   
}
#ContainerWifi h1{
    font-size: 30px;
    text-align: center;
}
.ImgWifi{
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.ImgWifi img{
    padding-right: 15px;
}