body{
    background-color: #BBC0ED;
}
.carousel{
    height: 500px;
}
#ContainerTel{
    background-color: white;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    padding-bottom: 50px;
}
.TitleTel h1{
    font-size: 30px;
    text-align: center;
}
.TitleFixa h3{
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}
.ImgTelefone{
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.ImgTelefone img{
    padding-right: 15px;
}
.TitleMovel h3{
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}
.ImgMovel{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.ImgMovel img{
    padding-right: 15px;
}
#ContainerNet{
    margin-top: 30px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    
    padding-bottom: 50px;
}
.TitleInternet h1{
    text-align: center;
    font-size: 30px;
}
.TitleFibra h3{
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}
.ImgFibra{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.ImgFibra img{
    padding-right: 15px;
}
.TitleBanda h3{
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}
.ImgBanda{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.ImgBanda img{
    padding-right: 15px;
}
#ContainerWifi{
    background-color: white;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    margin-top: 30px;
   
}
#ContainerWifi h1{
    font-size: 30px;
    text-align: center;
}
.ImgWifi{
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.ImgWifi img{
    padding-right: 15px;
}
#ContainerContato{
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    margin-top: 30px;
}
#ContainerContato h1{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
}
.DivContato{
   padding-left: 5px;
   justify-content: center;
   align-items: center;
}
.DivContato #Email, #Nome, #Telefone{
    
    width: 350px;
    box-shadow: white;
}